.productdisplay{
    display: flex;
    margin:0 170px;
}

.productdisplay-left{
    display: flex;
    gap:17px;
}
.display-imagelist{
    display: flex;
    flex-direction: column;
    gap:16px;
}

.display-imagelist img{
    height:163px;
}
.main-img {
    width:326px;
    height:400px;
}

.productdisplay-right{
    margin: 0 70px;
    display: flex;
    flex-direction: column;
}

.productdisplay-right h1{
    color:#430b59;
    font-size:40px;
}

.display-right-star{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap:5px;
    color: orange;
    font-size: 17px;
}

.display-right-prices{
    display: flex;
    margin :40px 0;
    gap:30px;
    font-size: 25px;
}

.right-oldprice{
    color:#430b59;
    text-decoration: line-through;
}
.right-newprice{
    color:#870585;
}
.display-right-size h1{
    margin-top: 55px;
    color: #430b59;
    font-size: 20px;
}

.sizes{
    display: flex;
    margin: 30px 0;
    gap:20px;
}

.sizes div{
    padding:18px 24px;
    background-color:#cf9fe2;
    border: 1px solid #430b59;
    border-radius: 3px;
    cursor: pointer;
}

.sizes div:hover{
    background-color: #430b59;
    color:white;
}

.productdisplay-right button{
    width:160px;
    height:50px;
    font-size:18px;
    cursor: pointer;
}
.display-right-category{
    margin-top: 10px;
    color:#430b59;
}

.display-right-category span{
    font-weight: 700;
    color:#430b59;
}