.news-letter{
    width:65%;
    height:40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, rgb(241, 172, 255), rgb(255, 255, 255));
    gap:30px;
}

.news-letter h1{
    color:#4a0070;
    font-size: 55px;
    font-weight: 600;
}

.news-letter p{
    color:#4a0070;
    font-size: 22px;
}

.news-letter div{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: #dcb5ff;
    width:730px;
    height:70px;
    border-radius: 80px;
    border: 1px solid #4a0070;
}

input{
    width:500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color:#4a0070;
    background: #dcb5ff;
    font-family:"Mukta", sans-serif;
    font-size: 16px;
}

 button{
  width:180px;
  height:70px;
  border-radius: 80px;
  background: #5b1081;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
button:hover{
background-color: rgb(217, 193, 233);
color: #5b1081;
}